<!DOCTYPE html>
<html lang="en">
    <head>
        <title>docker-symfony</title>
    </head>
<body>
    <h1>
        <a href="https://github.com/vikasDevloper/message-flow-service" target="_blank">docker-symfony</a>
    </h1>
    <p>
        A Message Flow Service<br>
    </p>
    <p>
        <b>Note</b><br>
        Remember to add <code>${NGINX_SYMFONY_SERVER_NAME}</code> in your <code>/etc/hosts</code> file.<br>
    </p>
    <h2>Index</h2>
    <ul>
        <li><a href="http://${NGINX_SYMFONY_SERVER_NAME}" target="_blank">Symfony</a></li>
    </ul>
</body>
</html>
